.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  min-height: 150px;
}

.card-images {
  display: flex;
  justify-content: center; /* 이미지를 가운데 정렬 */
  align-items: center;
}

/* 이미지 크기 조정 */
.card-image {
  width: 200px; /* 이미지 너비를 150px로 설정 */
  height: 80px; /* 이미지 높이를 150px로 설정 */
  object-fit: contain; /* 이미지 비율 유지하면서 잘리도록 설정 */
  border-radius: 5px; /* 이미지의 모서리 둥글게 설정 */
  justify-content: center; /* 이미지를 가운데 정렬 */
  margin-left: 49px; /* 이미지를 왼쪽으로 이동 */
}

.card-title {
  font-size: 28px;
  font-weight: bold;
}

.card-text {
  color: #666;
  font-size: 4px;
}
