.filter-button {
  background-color: #c4d0dd;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: -35px; /* 위로 올리기 */
}

.filter-button:hover {
  background-color: #d0d6dd;
}

.filter-icon {
  margin-right: 5px;
}
