/* 헤더 전체 스타일 */
header {
  position: sticky;
  height: 30px; /* 원하는 높이 설정 */
  background-color: #ffffff;
  padding: 10px 20px;
}

/* 로고 이미지 스타일 */
header #header-logo-image img {
  width: 140px; /* 원하는 크기 설정 */
  height: auto; /* 비율 유지 */
  object-fit: contain; /* 이미지 비율 유지하며 맞춤 */
}

#header {
  display: flex;
  gap: 50px;
}
